<h2 class="text-center my-5">Se connecter</h2>

<div class="container" style="min-height: 50vh;">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: "Email" %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  label: "Mot de passe" %>
      <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions btn btn-primary m-3">
      <%= f.button :submit, "Se connecter", class: 'sweet-alert-confirm' %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
