<div class="tab-pane fade" id="pills-owner" role="tabpanel" aria-labelledby="pills-owner-tab">
  <% @owner_reservations %>
  <div class="index-container" style="min-height: 95vh;">
    <div class="index-cards">
      <% @reservations.select { |owner| owner.stuffed_animal.user_id == current_user.id }
                      .sort_by {|x| x.status[4] }
                      .each do |reservation| %>
        <%= link_to stuffed_animal_path(reservation.stuffed_animal) do%>
          <div class="d-flex">
            <div class="card-product mb-2 dashboard-card">
              <%= cl_image_tag reservation.stuffed_animal.photo.key, crop: :crop, class:"card-index-img" %>
              <div class="card-product-infos dashboard-card-info">
                  <h4 class="d-inline"><%= reservation.start_date.strftime("%d-%m-%Y") %><br><%= reservation.end_date.strftime("%d-%m-%Y") %></h4>
                  <div class="d-block float-right text-center">
                    <% case reservation.status %>
                      <% when "Attente" %>
                      <p class="btn btn-secondary">En <%= reservation.status %></p>
                      <% when "Accepté" %>
                      <p class="btn btn-success"><%= reservation.status %></p>
                      <% when "Refusé" %>
                      <p class="btn btn-danger"><%= reservation.status %></p>
                    <% end %>
                    <h5 class="mt-3"><strong><%= reservation.total_price %> €</strong></h5>
                  </div>
                  <p class="index-card-text mt-0"><%= reservation.stuffed_animal.name %></p>

                <!-- button accept et decline ici -->
                <% if reservation.status == 'Attente' %>
                  <div class="d-block button-dashboard">
                    <%= link_to 'Accepter', accept_reservation_path(reservation), method: :patch, class:'btn btn-success sweet-alert-accept' %>
                    <%= link_to 'Refuser', decline_reservation_path(reservation), method: :patch, class:'btn btn-danger sweet-alert-decline' %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <%= cl_image_tag reservation.stuffed_animal.user.avatar.key, crop: :fill, class:"dashboard-avatar" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
