<h1 class="mt-3">Ajouter votre animal</h1>


<div class='container mx-auto'>
  <div class='row'>
    <div class='col-sm'>
    <%= simple_form_for @stuffed_animal do |f| %>
      <%= f.input :name, label: "Nom"%>
      <%= f.input :address, label: "Adresse"%>
      <%= f.input :description %>
      <%= f.input :species, label: "Espèce" %>
      <%= f.input :price, label: "Prix /jour" %>
      <%= f.input :rebirth_date, as: :date, html5: true, label: "Re-naissance" %>
      <%= f.input :weight, label: "Poids" %>
      <%= f.button :submit, 'Ajouter', class: "btn btn-primary my-3" %>
    </div>

    <div class='col-sm'>
      <%= f.input :photo, required: true, as: :file %>
    </div>
    <% end %>
  </div>
</div>
